<h1>Register</h1>

<form action="/register" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="email">email</label>
    <input type="email" name="email" id="email">

    <label for="password">password</label>
    <input type="password" name="password" id="password">

    <label for="r_password">repeat password</label>
    <input type="r_password" name="r_password" id="r_password">

    <button type="submit">Register</button>

    <a href="/login">login</a>

</form>